@model MedSys.Models.Reacoes

@{
    ViewData["Title"] = "Delete";
}

<h4>Tem certeza que deseja excluir reação?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
