@model MedSys.Models.Reacoes

@{
    ViewData["Title"] = "Details";
}

<h4>Detalhes sobre reações</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
